body{
    font-style: oblique;
}

.container {
    padding-top: 50px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



#logo{
    margin-top:10px;
    color:red;
}

.navbar{
    height: 50px;
    width: 100%;
    position:fixed;
    background-color: #edece8;
    margin-top: -10px;
    display:inline;
    margin-left: -8px;
}

.nav_items{
    display: inline-block;
}

.nav-link{
    text-decoration: none;
}


.footer{
    margin-top: 53px;
    background-color: #d9dfe6;
    height: 116px;
    width: 100%;
    text-align: center;
    font-style: none;
    font-size: small;
    font-weight: 900;

    margin-bottom:-8px;
}


.card_{
    height:250px;
}

.card{
    margin-bottom: 20px;
}

._decorate{
    text-decoration: none;
}

.card:hover{
    opacity: 0.7;
    background-color: white;
}