body{
    font-style: oblique;
}


.container {
    padding-top: 50px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



#logo{
    margin-top:31px;
    color:red;
    margin-left:10px;
}


.navbar{
    height: 50px;
    width: 100%;
    position:fixed;
    background-color: #edece8;
    margin-top: -10px;
    display:inline;
    margin-left: -8px;
}



.nav_items{
    display: inline-block;
}



.nav-link{
    text-decoration: none;
}


.footer{
    /* margin-top: 327px; */
    background-color: #d9dfe6;
    height: 116px;
    width: 100%;
    text-align: center;
    font-style: none;
    font-size: small;
    font-weight: 900;
    margin-bottom:-8px;
}


.card_{
    height:271px;
}

.card{
    margin-bottom: 20px;
    width:309px !important;
    height:362px !important;
}

._decorate{
    text-decoration: none;
}

.card_hover:hover{
    opacity: 0.7;
    background-color: white;
}

#navbarNav{
    margin-top: 24px;
    margin-bottom: -3px;
    height:20px !important;
}

.row{
    margin-left:-38px !important;
    margin-right: -51px !important;
    margin-top: 40px !important;
}



.inline_block_{
    display:inline-block;
}


.add_heading{
    margin-top: 20px;
    margin-bottom: 20px;
}


.home_head{
    margin-bottom:-20px !important;
    margin-top: 20px !important;
    margin-left : -23px ;
}



.listings_details{
    margin-left:20px;

}


.card_info{
    margin-left:350px;
    border: none !important;
    height: 800px !important;
}


.img-info{
    height:400px;
    width:600px !important;
}

.img-home{
    height: 250px;
    width: 307px !important;
}

.icons_footer{
    margin-bottom: -10px !important;
    
}