<% layout("/layouts/boilerplate.ejs") -%>
<form method="post" action="/login">
    <div class="col-6 offset-3 needs-validation" novalidate>
    <h1><i>Login for Wanderlust.</i></h1> <br>
    <div class="mb-3">
        <label for="username_" class="form-label">Username</label>
        <input type="username_" class="form-control" id="username_" name="username_" required>
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password_" required>
    </div>
    <button type="submit" class="btn btn-danger">Submit</button><br></div> 
  </form>